<div>
    <transition v-if="preview" name="preview" appear>
        <recipe-preview @close="closePreview" v-bind="{transformMarkdown}"></recipe-preview>
    </transition>
    <div v-if="! acapID">
        <p>No recipe was provided.</p>
        <p>Please return to the listing or cards and click to choose an item.</p>
    </div>
    <div v-if="acapID" v-show="!preview" materialize class="recipe-card">
        <form id="rdForm" @submit.prevent="onSubmit">
            <actions-bar :id="id" :isModified="isModified" :valid="valid" @cancel="onCancel" @reset="onReset" @preview="openPreview"></actions-bar>
            <div class="row">
                <div class="col s12 center-align">
                    <div class="switch">
                        <label>
                            Un-Published
                            <input name="published" v-model="published" type="checkbox">
                            <span class="lever"></span> Published
                        </label>
                    </div>
                </div>
            </div>
            <!--We're not allowing title to be set in this form
    <div class="row">
        <div class="input-field col s12">
            <input class="validate" name="title" v-model="title" placeholder="Recipe Name/Title" type="text" ngControl="title" required>
            <label>Recipe Title</label>
            <div v-if="title && title.dirty && ! title.valid">
                <p class="amber accent-1" v-if="title.errors.required">
                    Please include a title before saving.
                </p>
            </div>
        </div>
    </div>
    -->
            <div class="row">
                <div class="input-field col s12">
                    <input class="" name="subTitle" v-model="subTitle" placeholder="Recipe Sub-Title" type="text">
                    <label>Recipe Sub-Title
                        <em>(optional)</em>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input name="creator" v-model="creator" placeholder="Creator Name/Attribution" type="text">
                    <label>Original Creator</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="originalUrl" v-model="originalUrl" placeholder="Address where originally published" type="url">
                    <label>Originaly Published URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea class="materialize-textarea" name="description" placeholder="Brief and Catchy Description" rows="2" v-model="description"></textarea>
                    <label>Description</label>
                </div>
            </div>
            <!--rating-comp-->
            <!--recipe-tips-->
            <div class="row">
                <fieldset class="col s12">
                    <legend>Ingredients</legend>
                    <div v-for="(ingredient, idx) in ingredients" :key="idx">
                        <div class="row">
                            <div class="input-field col s6 m3">
                                <input :name="`ing-${idx}-qty`" v-model="ingredient.qty" placeholder="qty?" type="text">
                            </div>
                            <div class="input-field col s6 m3">
                                <input :name="`ing-${idx}-unit`" v-model="ingredient.unit" placeholder="Units?" type="text">
                            </div>
                            <div class="input-field col s6 m3 center-align">
                                <input :id="`ing-${idx}-opt`" :name="`ing-${idx}-opt`" v-model="ingredient.optional" placeholder="optional?" type="checkbox">
                                <label :for="`ing-${idx}-opt`">Optional?</label>
                            </div>
                            <div class="input-field col s6 m3 center-align">
                                <button class="btn-flat btn-sm red-text" type="button" @click="deleteItem('ingredients', idx)">
                                    <i class="material-icons">delete</i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input :name="`ing-${idx}-name`" v-model="ingredient.name" placeholder="Name?" type="text">
                            </div>
                            <div class="input-field col s12 m6">
                                <input :name="`ing-${idx}-prep`" v-model="ingredient.preparation" placeholder="Preparation?" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="btn btn-sm grey lighten-5" type="button" @click="addItem('ingredients')" title="adds an Ingredient to a group">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col s12">
                    <legend>Method Steps</legend>
                    <div class="row" v-for="(method, idx) in method" :key="idx">
                        <input :name="`method-${idx}-step`" v-model="method.step" hidden>
                        <div class="input-field col s12 m10">
                            <textarea class="materialize-textarea" :id="getTAID(id, idx)" name="`method-${idx}-text`" v-model="method.text" placeholder="Step Content"></textarea>
                            <label :for="getTAID(id, idx)">{{getTALabel(idx)}}</label>
                        </div>
                        <div class="input-field col s12 m2 center-align">
                            <button class="btn-flat btn-sm red-text" type="button" @click="deleteItem('method', idx)">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="btn btn-sm grey lighten-5" type="button" @click="addItem('method')">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col s12">
                    <legend>Recipe Variations</legend>
                    <div class="row" v-for="(variation, idx) in variations" :key="idx">
                        <div class="input-field col s12 m10">
                            <textarea class="materialize-textarea" name="`variations-${idx}`" v-model="variation.text" placeholder="Variation Content"></textarea>
                        </div>
                        <div class="input-field col s12 m2 center-align">
                            <button class="btn-flat btn-sm red-text" type="button" @click="deleteItem('variations', idx)">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="btn btn-sm grey lighten-5" type="button" @click="addItem('variations')">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col s12">
                    <legend>Tags</legend>
                    <div class="row" v-for="(tag, idx) in tags" :key="idx">
                        <div class="input-field col s8">
                            <input :name="`tag-${idx}-text`" v-model="tag.text" placeholder="Hash-Tag" type="text">
                        </div>
                        <div class="input-field col s4 center-align">
                            <button class="btn-flat btn-sm red-text" type="button" @click="deleteItem('tags', idx)">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="btn btn-sm grey lighten-5" type="button" @click="addItem('tags')">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col s12">
                    <legend>*Notes</legend>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea class="materialize-textarea" name="note" v-model="notes" placeholder="Enter Notes...">
                            </textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
            <actions-bar v-bind="{id, isModified, valid}" v-on:cancel="onCancel" v-on:reset="onReset" v-on:preview="openPreview"></actions-bar>
        </form>
    </div>
</div>