.mb-sm {
    margin-bottom: 0.5rem;
}
.mb-md {
  margin-bottom: 1rem;
}
.mb-lg {
    margin-bottom: 1.5rem;
}

.mb-0 {
    margin-bottom: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

.secondary-content.left {
    margin-right: 0.5em;
}

.action-bar i.medium {
    font-size: 1.2em;
}

.recipes.collection .collection-item,
.recipes.collection .card {
    border-left: 5px solid transparent;
    /*padding-left: 25px*/
    ;
    cursor: pointer;
}

.recipes.collection .collection-item.active,
.recipes.collection .card.active {
    border-left-color: rgb(158, 157, 36);
}

.recipes.collection .collection-item.active {
    background: inherit;
}

.recipes.collection .collection-item.active,
.recipes.collection .collection-item.active .secondary-content {
    color: rgb(158, 157, 36);
}

legend,
.legend {
    color: rgb(158, 157, 36);
}

.recipe-card [ngmodelgroup]+[ngmodelgroup] {
    border-top: 3px dashed rgb(224, 224, 224);
}

.recipe-card fieldset .row {
    margin-bottom: 0;
}

.recipe-card fieldset .row:last-child {
    margin-bottom: 0.5rem;
}

details-plugin .modal {
    max-height: 97%;
    min-width: 67%;
    max-width: 97%;
    width: auto;
}

details-plugin .modal-footer .modal-footer p {
    line-height: 2em;
    padding: 0 1em;
}


/* preview */

.recipe-bloc .meta-bar {
    display: flex;
    justify-content: space-between;
    padding-top: .5em;
    padding-bottom: .5em;
}

.recipe-bloc .meta-bar label {
    display: block;
    font-size: calc(100% - 10px);
}

.recipe-bloc .notes {
  font-family: "Roboto Condensed";
}

.cont-bloc {
    padding: 0 .5em;
}


/* other */

.highlight,
.tip-title {
    color: rgb(136, 27, 237);
}

.btn.grey.lighten-5 {
    color: rgb(255, 152, 0) !important;
}

.btn.grey.lighten-5 i {
    color: rgb(175, 180, 43) !important;
}

.switch .lever {
    background-color: rgb(192, 202, 51);
}

.switch .lever:after {
    background-color: rgb(175, 180, 43);
}

.switch label,
form .input-field label.active,
form .input-field .select-wrapper+label,
form .input-field input[type="checkbox"]+label {
    color: rgb(136, 27, 237);
}


/* fix mat* regression bug */

form .input-field input[type="checkbox"]+label {
    color: rgb(136, 27, 237);
    pointer-events: auto;
}
